* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.left {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: end;
  align-items: center;
}

form {
  background-color: rgb(236, 236, 236);
  display: grid;
  align-items: center;
  width: 90%;
  height: 20px;
  padding: 5px 10px;
  border-radius: 40px;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
}

.profile-picture {
  border-radius: 20px;
}

.right p {
  font-weight: 600;
  text-align: center;
}