* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
}

body {
  display: grid;
  grid-template-columns:1fr 4fr;

}

.nav {
  box-shadow: 10px 10px rgb(219, 57, 57);
  padding: 20px 30px;
}

/* Navigation Top */

.nav .top {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 2.5fr 1fr;
  margin-bottom: 20px;
}

.nav .top .left {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-around;
  align-items: center;
}

.nav .top i {
  color: black;
  margin-right: 20px;
}

.nav .top .left form {
  background-color: rgb(236, 236, 236);
  display: grid;
  align-items: center;
  width: 75%;
  height: 20px;
  padding: 5px 10px;
  border-radius: 40px;
}

.nav .top .right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-around;
  /* gap: 30px; */
}

.nav .top .right p {
  font-weight: 600;
  text-align: center;
}

/* Navigation Bottom */

.nav .bot {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  
}

.nav .bot .left {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
}

.nav .bot .left .fa-user {
  border-radius: 100px;
}

.nav .bot .right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: end;
}

.nav .bot .right li {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: rgb(93, 179, 250);
  color: white;
  font-weight: 100;
  font-size: small;
}

/* Sidebar */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 /3;
  background-color: rgb(0, 174, 255);
}

/* Main */

.main {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

.project {
  grid-row: 1/3;
}

.project ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}